# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dataroom?sslmode=disable"

# Better Auth
BETTER_AUTH_SECRET="your_generate_secret_here"
BETTER_AUTH_URL="http://localhost:3000"

# AI Service Link
NEXT_PUBLIC_FASTAPI_URL="http://localhost:8000"
FASTAPI_URL="http://localhost:8000"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
